/* csslint ignore:start */
.navFixed {
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  opacity: 0.94;
  transition: opacity .5s ease-out;
}
/* csslint ignore:end */
